*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    margin: 0;
    padding: 20px;
    border: 15px double rgb(138, 6, 6);
    min-height: 100vh;
    box-sizing: border-box;
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 10px;
    
}

.upp-text{
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 40px;
}
.Lwr-text{
    font-size: 19px;
    font-weight: 1000;
    margin-top: 40px;
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;

    /* flex-wrap: nowrap; (default) */
    flex-wrap: wrap;

    gap: 10px;
}

button{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;

    /* transition: none; */
    transition: all 0.3s ease-in-out;

    cursor: pointer;
}
.Grey{
    background-color: grey;
    font-size: 35px;
    border: 2px solid gray;
}
.White{
    background-color: white;
    font-size: 35px;
    border: 2px solid white;
}
.Cyan{
    background-color: cyan;
    font-size: 35px;
    border: 2px solid cyan;
}
.Purple{
    background-color: purple;
    font-size: 30px;
    border: 2px solid purple;
    
}

.Grey:hover{
   box-shadow: 0 0 20px 8px darkgray;
   
}
.White:hover{
  box-shadow: 0 0 20px 8px rgb(237,222,222);
}
.Cyan:hover{
    box-shadow: 0 0 20px 8px darkcyan;
}
.Purple:hover{
   box-shadow: 0 0 20px 8px rgb(174,6,174);
}

/* =========================
   Tablet Devices
========================= */

@media (max-width: 768px){

    /* font-size: 40px; */
    .upp-text{
        font-size: 30px;
        text-align: center;
    }

    /* font-size: 19px; */
    .Lwr-text{
        font-size: 16px;
        text-align: center;
        padding: 0 15px;
    }

    /* width: 150px; */
    /* height: 150px; */
    button{
        width: 120px;
        height: 120px;
        font-size: 25px;
    }
}


/* =========================
   Mobile Devices
========================= */

@media (max-width: 480px){

    /* margin: 20px; */
    body{
        margin: 10px;
        border: 8px double rgb(138, 6, 6);
    }

    /* margin: 100px 10px; */
    .main{
        margin: 40px 10px;
    }

    /* font-size: 40px; */
    .upp-text{
        font-size: 24px;
        text-align: center;
    }

    /* font-size: 19px; */
    .Lwr-text{
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
    }

    /* display: flex; */
    .button-box{
        flex-direction: column;
    }

    /* width: 150px; */
    /* height: 150px; */
    button{
        width: 100px;
        height: 100px;
        font-size: 20px;
        border-radius: 25px;
    }
}